<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% seo title=false %}

  {% if page.url == "/" %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "ProfilePage",
      "mainEntity": {
        "@type": "Person",
        "name": "Toby Benjamin Clark",
        "url": "{{ '/' | absolute_url }}",
        "image": "{{ '/assets/me.png' | absolute_url }}",
        "affiliation": {
          "@type": "CollegeOrUniversity",
          "name": "University of Nottingham"
        },
        "sameAs": [
          "https://github.com/tobybenjaminclark",
          "https://www.hackster.io/tobybenjaminclark"
        ]
      }
    }
  </script>
  {% endif %}

  <title>
    {% if page.title %}{{ page.title | escape }} - {% endif %}{{ site.title | escape }}
    {% unless page.title %} - {{ site.description | escape }}{% endunless %}
  </title>

  <link rel="icon" type="image/png" href="{{ '/assets/me.png' | relative_url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ '/atom.xml' | relative_url }}">
  <link rel="alternate" type="application/json" title="{{ site.title }}" href="{{ '/feed.json' | relative_url }}">
  <link rel="sitemap" type="application/xml" title="sitemap" href="{{ '/sitemap.xml' | relative_url }}">
  <link rel="stylesheet" href="https://lalten.github.io/lmweb/style/latinmodern-roman.css">
  <link rel="stylesheet" href="https://lalten.github.io/lmweb/style/latinmodern-mono.css">

  <style>
    {% capture include_to_scssify %}
      {% include inline.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>

  {% include google_analytics.html %}
</head>
