---
layout: default
---

<section class="post">
  <h2>{{ page.title }}</h2>
  {{ content }}
  {% if page.collection == "publications" %}
    <span class="meta">
      {% if page.publisher_url %}
        <a href="{{ page.publisher_url }}">{{ page.publisher }} {{ page.date | date: "%Y" }}</a>
      {% else %}
        {{ page.publisher }} {{ page.date | date: "%Y" }}
      {% endif %}
    </span>
  {% elsif page.date %}
    <span class="meta"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time></span>
  {% endif %}
</section>
